
@{
    ViewBag.Title = "Challenge";

    var ChallengeTitle = "Challenge Title";
    var IntroCopy = "Intro text goes here";
    var MapRef = "https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d9615.872826874116!2d-1.1555825499999999!3d52.9489951!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2suk!4v1489850473583";
    var ChallengeDetails = "Details of the challenge";

}
    <div class="text-center">
        <img src="~/Content/images/mmt-logo.png" alt="magical mystery tour" class="small-logo"/>
    </div>
    <h1>@ChallengeTitle</h1>
        <p>@IntroCopy</p>
        <iframe src="@MapRef" width="100%" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
        <p>@ChallengeDetails</p>
        <p>Submit to twitter ......</p>
        <button type="button" class="btn btn-primary"> Next challenge <span class="glyphicon glyphicon-triangle-right" aria-hidden="true"></span></button>
