@using TheSeeker.Repository

@{
    ViewBag.Title = "Challenge";
    
}
        <div class="text-center">
            <img src="~/Content/images/mmt-logo.png" alt="magical mystery tour" class="small-logo" />
        </div>
        <h1>Totally On-Pointe</h1>
        <h3>Theatre Royal</h3>
        @*@{
            Random rnd = new Random();
            var chalid = rnd.Next(1, 3).ToString();

        }
        @Html.Raw(ChallengeRepository.challengerepo.GetById(chalid).Map);
         <p>Here is the details of your awesome adventure</p>
        @Html.Raw("<p>"+ ChallengeRepository.challengerepo.GetById(chalid).Description.ToString() + "</p>")
       
        <a class="twitter-share-button"
           href="https://twitter.com/intent/tweet?text=#MagicalMysteryTour" data-size="large">Tweet
        </a>*@       
        
        <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d9615.872826874116!2d-1.1555825499999999!3d52.9489951!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2suk!4v1489850473583" width="100%" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
         <p>Here is the details of your awesome adventure</p>
       
         <p>Make your way to the Theatre Royal and unfold your most graceful ballet e</p>
       
        <img src="~/Content/images/ballet.gif" alt="smiley face" class="right" />
        <br/>
        <a class="twitter-share-button"
           href="https://twitter.com/intent/tweet?text=#MagicalMysteryTour" data-size="large">Tweet
        </a>