
@{
    ViewBag.Title = "Confirmation";
}
        <div class="text-center">
            <img src="~/Content/images/mmt-logo.png" alt="magical mystery tour"  class="small-logo"/>
        </div>
<h1>And you're in!<brNice to see you.../></h1>
<p>Thanks for swinging by we're psyched you're here!></p>
<h2>What happens next?</h2>
<p>We'll check your calendar and book in your challenge event.</p>
<p>Keep aan eye out for the text confirmation...</p>
<div class="well tealishwell">
    <h3>More pepople = more fun!</h3>
    <p>Why not ask your frineds to join? They're probably good pepole, right? Or at least ok...</p>
            <button type="button" class="btn">Tweet'em</button>
            <button type="button" class="btn">Email'em</button>
        </div>
