
@{
    ViewBag.Title = "Congrats";
}
        <div class="text-center">
            <img src="~/Content/images/mmt-logo.png" alt="magical mystery tour" class="small-logo" />
        </div>
        <h1>Mahooosive <br/> congratulations!</h1>
    
<p class="text-center"><img src="https://media.giphy.com/media/14cDsqOkks6O8U/giphy.gif" alt="Leonardo thingks you're a hero"></p>
<h2>Whoop! Whoop!<br/>Leo says "Good job!"</h2>

        <button type="button" class="btn btn-primary"> See your challenges</button>
