@{
    ViewBag.Title = "Home Page";
}
        <div class="text-center">
            <img src="~/Content/images/mmt-logo.png" alt="magical mystery tour" />
        </div>
        <h1>Welcome to Magical Mystery Tour</h1>
        <p>Here is the cool stuff that will make this super juicy :)</p>
            <!-- add twitter handle and mobile -->
        <input type="button" class="btn btn-lg btn-primary btn-block" value="Come have fun" onclick="@("window.location.href='" + @Url.Action("SignUp", "Home") + "'");" />
