@{
    ViewBag.Title = "Home Page";
}
        <div class="text-center">
            <img src="~/Content/images/mmt-logo.png" alt="magical mystery tour" />
        </div>
        <h1>Welcome to Magical Mystery Tour</h1>
        <p>Here is the cool stuff that will make this super juicy :)</p>
        <a href="https://app.cronofy.com/oauth/authorize?response_type=code&amp;client_id=HhJWCcEe6z74NAALOsGUpEXbo8ORoNTW&amp;redirect_uri=http://magicalmysterytourhack24.azurewebsites.net/&amp;scope=read_free_busy%20create_event" 
           class="btn btn-primary">Come have fun</a>
