@{
    ViewBag.Title = "Home Page";
}
        <div class="text-center">
            <img src="~/Content/images/mmt-logo.png" alt="magical mystery tour" class="big-logo" />
        </div>
        <hr class="divider" />
        <h1>Hey there!
        <img src="~/Content/images/smile.png" alt="smiley face" class="right"/>
    </h1>
<h2>Have some free time?
    <br/>
    Don't know what to do on your day off?
</h2>
<p>Sign up now to Magical Mystery Tour now to...</p>
<ul>
    <li>Discover  new places!</li>
    <li>Find out about the secrets of your city</li>
    <li>& Meet new friends!</li>
</ul>
<p class="tealish watermelon">Sounds good doesn't it?<br/>
    Watermelons may or may not be included... Who knows!</p>
        <!-- add twitter handle and mobile -->
        <a href="https://app.cronofy.com/oauth/authorize?response_type=code&amp;client_id=HhJWCcEe6z74NAALOsGUpEXbo8ORoNTW&amp;redirect_uri=http://localhost:65012/home/congrats/&amp;scope=read_free_busy%20create_event&amp;state=JessPWhite_07446335493" 
           class="btn btn-primary text-center" id="btn1">Get started!</a>
