@{
    ViewBag.Title = "SignUp";
}

        <div class="text-center">
            <img src="~/Content/images/mmt-logo.png" alt="magical mystery tour" class="small-logo" />
        </div>
        <form class="form-signin">
            <h2 class="form-signin-heading">Sign up for a Magical Mystery Tour</h2>
            <div class="form-group">
                <label for="inputTwitter">Twitter name</label>
                <div class="input-group">
                    <span class="input-group-addon" id="basic-addon1"></span>
                    <input type="text" class="form-control" id="inputTwitter" placeholder="Twitter username">
                </div>
            </div>
            <div class="form-group">
                <label for="inputPhoneNo">Phone number</label>
                <input type="number" id="inputPhoneNo" class="form-control" placeholder="Phone number" required>
            </div>

            <div class="form-group">
                <p>You will be asked to log into your calendar on the next page</p>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input type="checkbox" value="remember-me"> Agree to Terms and Conditions
                    </label>
                </div>
            </div>
            <button class="btn btn-lg btn-primary btn-block" type="submit">Submit and sign into Calendar</button>
        </form>
