body, p, h1 {
    font-family: 'Asap', sans-serif;
}
/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}


.bkgrnd {
    background: #e8fafa;
    background: -webkit-linear-gradient (#e8fafa, white);
    background: -o-linear-gradient(#e8fafa, white);
    background: -moz-linear-gradient(#e8fafa, white);
    background: linear-gradient(#e8fafa, white);
}